body{
    background-color: #F1FAEE;
    
}
#main_p{
color:#1D3557 ;
font-weight: bold;
}
h1,h4{
    color:#1D3557;
}
button{
    color:#1D3557;
    background-color:#E63946;
}
input{
    background-color: #A8DADC;    
}
.tag{
    color: #F1FAEE;
    background-color: #457B9D;
    font-size: 10px;
}
